
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

  :root {
    --red:  #c00b0b;
    --gray:  #272525; 
  }

  body {
    font-family: 'Poppins', sans-serif;
  }


  nav img {
    width: 130px;
    height: auto;
  }

  .container {
    max-width: 1280px;
    margin: 0 auto;
   
  }
  nav {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
  }
button {
  all: unset;
  padding: 6px 16px;
  background-color: var(--red);
  height: 32px;
  font-weight: 800;
  color: white;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
 .hero{
  display: flex;
 align-items: center;
 height: calc(100vh-72px);

 }
.hero h1 {
  font-weight: 700;
  line-height: 90px;
  font-size: 108px;
  margin-bottom: 20px;
}


.hero p {
  font-weight: 500;
  font-size: 24px;
  color: var(--gray);
  max-width: 900px;
  margin-top: 0px;
}

.hero-img {
  height: fit-content;
  }
.hero-btn {
  display: flex;
  gap: 40px;
  font-weight: 500;
}
.hero-btn button {
  font-size: 18px;
}
.secondary-btn {
  background-color: transparent;
  color: var(--gray);
  border: 1px solid var(--gray);
  font-weight: 500;
}


.shopping p {
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

.brand-icons  {
  display: flex;
  gap: 16px;
  
}


.brand-icons img {

  width: 80px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-img {
  height: 100vh;
  width: auto;
}